@use 'abstracts' as *;
// Import CSS / SASS Libraries
// @use 'setup/_include-media'; // Set breakpoints within here
// @use 'setup/normalize';
@use '../slick/slick';
@use '../slick/slick-theme';
// @use 'mixins/_mixins';
@use 'components/_components';
@use 'partials/_mobile-menu';
@use 'partials/_off-canvas-search';

// Cards


// Breakpoint template
// @include media("<=md") {
//   background-color: blue;
// }

@use 'structure/_header';
@use 'structure/_footer';
@use 'structure/_wrapper';
@use 'structure/_my-account';

@use 'structure/_post-type-archive';
@use 'partials/_error404';


@use 'blocks/_page-header';

@use 'blocks/_listings';

@use 'woocommerce/_single-product';
@use 'woocommerce/_cart';
@use 'woocommerce/_checkout';

// Blocks

//@use 'blocks/_'
html{
    overflow-x:hidden;
    body{
        background-color:$offwhite!important;
    }
}

.coming-soon{
    background-color:$offwhite;
    padding:10px;
    color:$primary;
}

.modal-backdrop.show{
    opacity:0.85!important;
}
