@use '../abstracts' as *;

.wc-block-checkout__main{
    padding-bottom:100px;
    .wc-block-components-checkout-place-order-button{
        background-color:rgba(#000,0);
        border-radius:75px;
        height:75px;
        border:2px solid $primary;
        margin-top:20px;
        span{
            color:$primary;
            font-family: Bebas-Neue, sans-serif;
            font-size:24px;
        }
        &:hover{
            background-color:$red;
            border-color:$red;
            span{
                color:$offwhite;
            }
        }
    }
    .wc-block-components-checkout-return-to-cart-button{
        color:$primary!important;
    }
}

.wc-block-checkout__sidebar{
    .wc-block-components-totals-coupon__button{
        background-color:rgba(#000,0);
        border-radius:75px;
        height:75px;
        border:2px solid $primary;
        margin-top:20px;
        span{
            color:$primary;
            font-family: Bebas-Neue, sans-serif;
            font-size:24px;
        }
        &:hover{
            background-color:$red;
            border-color:$red;
            span{
                color:$offwhite;
            }
        }
    }
}